In [1]:
import pandas as pd
import regex as re

In [2]:
groups_22 = pd.read_csv('2022_world_cup_groups.csv')

In [3]:
matches_22 = pd.read_csv('2022_world_cup_matches.csv')

In [4]:
data_dict = pd.read_csv('data_dictionary.csv') ## -> fields description

In [5]:
international_matches = pd.read_csv('international_matches.csv')
international_matches.isnull().sum() #Win conditions have null values when matches have ended normally
international_matches['Win Conditions'] = international_matches['Win Conditions'].fillna('normal ending')

In [6]:
international_matches.rename(columns={"Tournament":"Stage","Home Stadium":"Host Team"},inplace = True)

In [7]:
col_list = list(international_matches)

In [10]:
international_matches = international_matches.reindex(columns=['ID','Date','Stage','Home Team','Home Goals',
                                                               'Away Goals','Away Team','Win Conditions','Host Team'])

In [11]:
world_cup_matches = pd.read_csv('world_cup_matches.csv')
world_cup_matches.isnull().sum() #Win conditions have null values when matches have ended normally
world_cup_matches['Win Conditions'] = world_cup_matches['Win Conditions'].fillna('normal ending')

In [12]:
world_cup_matches.drop(columns={'Year'},inplace=True)

## Football History of Spain

In [13]:
spain_international_matches = international_matches[(international_matches['Home Team']=='Spain') | (international_matches['Away Team']=='Spain')]

In [14]:
def find_winner(row):
    if row['Home Team']=='Spain' and(row['Home Goals'] > row['Away Goals']):
        return 'Win'
    elif row['Away Team'] == 'Spain' and (row['Home Goals'] < row['Away Goals']):
        return 'Win'
    elif row['Win Conditions'] == 'Spain win on penalties':
        return 'Win'
    else:
        return 'Loss'

In [15]:
spain_international_matches['Result'] = spain_international_matches.apply(lambda row: find_winner(row), axis=1)

C:\Users\juanp\AppData\Local\Temp\ipykernel_21376\3073436608.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spain_international_matches['Result'] = spain_international_matches.apply(lambda row: find_winner(row), axis=1)

In [16]:
spain_world_cup_matches = world_cup_matches[(world_cup_matches['Home Team']=='Spain') | (world_cup_matches['Away Team']=='Spain')]

In [17]:
spain_world_cup_matches['Result'] =  spain_world_cup_matches.apply(lambda row: find_winner(row), axis=1)

C:\Users\juanp\AppData\Local\Temp\ipykernel_21376\2650079529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spain_world_cup_matches['Result'] =  spain_world_cup_matches.apply(lambda row: find_winner(row), axis=1)

In [20]:
spain_history_matches = pd.concat([spain_international_matches, spain_world_cup_matches], ignore_index=True)

In [21]:
spain_history_matches

,ID,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team,Result
0,467,1921-12-18,Friendly,Spain,3,1,Portugal,normal ending,True,Win
1,477,1922-04-30,Friendly,France,0,4,Spain,normal ending,True,Win
2,513,1922-12-17,Friendly,Portugal,1,2,Spain,normal ending,True,Win
3,519,1923-01-28,Friendly,Spain,3,0,France,normal ending,True,Win
4,520,1923-02-04,Friendly,Belgium,1,0,Spain,normal ending,True,Loss
...,...,...,...,...,...,...,...,...,...,...
723,805,2014-06-23,Group stage,Australia,0,3,Spain,normal ending,False,Win
724,840,2018-06-15,Group stage,Portugal,3,3,Spain,normal ending,False,Loss
725,856,2018-06-20,Group stage,Iran,0,1,Spain,normal ending,False,Win
726,871,2018-06-25,Group stage,Spain,2,2,Morocco,normal ending,False,Loss
727,887,2018-07-01,Round of 16,Russia,1,1,Spain,Russia win on penalties (4 - 3),True,Loss